<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<security:http auto-config="true">
		<security:intercept-url pattern="/webapp/menu"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/aboutCompany"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/newCargo"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER" />
		<security:intercept-url pattern="/webapp/editProfile"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/searchCargo"
			access="ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/cargo"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/finishedTransaction"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/detailsTransaction"
			access="ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/detailsTransaction2"
			access="ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN" />
		<security:intercept-url pattern="/webapp/employeeList"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER,ROLE_ADMIN_CARRIER" />
		<security:intercept-url pattern="/webapp/newUser"
			access="ROLE_ADMIN_SHIPPER,ROLE_ADMIN_CARRIER" />
		<security:intercept-url pattern="/webapp/editCompany"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER,ROLE_ADMIN_CARRIER" />
		<security:intercept-url pattern="/webapp/editEmployee"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER,ROLE_ADMIN_CARRIER" />
		<security:intercept-url pattern="/webapp/detailsEmployee"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER,ROLE_ADMIN_CARRIER" />
		<security:intercept-url pattern="/webapp/editCargo"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER" />
		<security:intercept-url pattern="/webapp/detailsCargo"
			access="ROLE_ADMIN,ROLE_ADMIN_SHIPPER,ROLE_USER_SHIPPER,ROLE_ADMIN_CARRIER,ROLE_USER_CARRIER" />
		<security:intercept-url pattern="/webapp/cargosList"
			access="ROLE_ADMIN, ROLE_ADMIN_SHIPPER, ROLE_USER_SHIPPER" />
		<!--  <security:intercept-url pattern="/webapp/login"
			access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/webapp/index"
			access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/webapp/register"
			access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/webapp/about"
			access="ROLE_ANONYMOUS" />	-->
		<security:form-login login-page="/webapp/login"
			default-target-url="/webapp/menu" authentication-failure-url="/webapp/errorLogin" />
		<security:logout logout-success-url="/webapp/index" />
	</security:http>



	<bean id="dataSourcee"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/carriage_of_goods" />
		<property name="username" value="root" />
		<property name="password" value="praktyka" />
	</bean>


	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSourcee"
				users-by-username-query="SELECT login, password, enabled  FROM logins WHERE login=?"
				authorities-by-username-query="SELECT login, role  FROM logins WHERE login=?  "></security:jdbc-user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
